<!DOCTYPE html>
<html lang="fr">
	<head>
		{% block html_header %}
		
			{% block meta_title %}
	        <title>Oxygen UI Bundle</title>
	        {% endblock meta_title %}

	        {% block meta_description %}
	        <meta name="description" content="Oxyfony Community UI Bundle" />
	        {% endblock meta_description %}

	        {% block meta_keywords %}
	        <meta name="keywords" content="oxyfony, Oxygen UI Bundle" />
	        {% endblock meta_keywords %}

	        {% block meta_author %}
	        <meta name="author" content="Oxygen Community (oxygen@soletic.org)" />
	        {% endblock meta_author %}

        	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	        {% block stylesheets %}
        	<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
			
			{% stylesheets '@O2UIBundle/Resources/public/css/*' %}
			<link rel="stylesheet" href="{{ asset_url }}" />	
			{% endstylesheets %}
			
	        {% endblock %}

        	{% block jsheader %}{% endblock %}

        	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    		<!--[if lt IE 9]>
      			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    		<![endif]-->
    		
		{% endblock %}
	</head>
	
	{% block body_tag %}
	<body>
	{% endblock %}
		{% block flash_message %}
		{% include 'O2UIBundle::flash_messages.html.twig' %}
		{% endblock %}
		{% block body_content %}{% endblock %}
		
		{% block jsfooter %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    		
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		
		{% javascripts '@O2UIBundle/Resources/public/js/*' %}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% endblock %}
		
	</body>
</html>
